.sidnav{
    width: 15%;
    height: 100%;
    position: fixed ;
    right: 0px;
    background-color: #3A444E;
    direction: rtl;
    color: burlywood;
}
.menu-item:hover{
  background-color: black;
 padding: 5px;
 color: white;
 cursor: pointer;
}
.side-menu{
    list-style: none;
    padding-right: 1vw;

}
.side-tab{
    display: inline-block;
    width:90%;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.menu-item hr{
    margin-bottom: 0px;
}
.side-link{
    text-decoration: none;
    color:aliceblue;
    font-size: 16px;

}